---
import Main from "../layouts/Main.astro";
import Button from "../components/Button";
---

<Main isCenter title="About">
  <h1
    class="text-4xl md:text-7xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-blue-400 drop-shadow-lg p-4"
  >
    Get Information About Me
  </h1><a
    class="dark:text-white text-black text-2xl"
    href="https://porto.fenny.me/">Click Me !</a
  >
</Main>
