---
import Main from "../layouts/Main.astro";
import { FaGithub } from "react-icons/fa/index.js";
---

<Main isCenter title="About">
  <a href="https://github.com/fnny04?tab=repositories">
    <FaGithub className="text-9xl" />
  </a>
  <h1 class="p-4">Open My Repository</h1>
</Main>
