---
import Main from "../layouts/Main.astro";
import { FaGithub } from "react-icons/fa/index.js";
import Project from "../components/Project";
---

<Main isCenter title="Project">
  <h1
    class="text-2xl md:text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-yellow-300 to-orange-300 drop-shadow-lg p-4"
  >
    Deployment Project
  </h1>
  <Project />

  <a href="https://github.com/fnny04?tab=repositories">
    <FaGithub className="text-8xl text-gray-600 dark:text-white" />
  </a>
  <h1 class="py-4 text-gray-600 dark:text-white">Check My Repository</h1>
</Main>
