---
import Navbar from "../components/Navbar";
import { FaGithub } from "react-icons/fa/index.js";
import Project from "../components/Project";
---

<Navbar client:load />
<div
  class="w-auto h-100% bg-cyan-200 dark:bg-gray-600 flex flex-col justify-center items-center"
>
  <h1
    class="text-2xl md:text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-yellow-300 to-orange-300 drop-shadow-lg p-4"
  >
    Deployment Project
  </h1>
  <Project />

  <a href="https://github.com/fnny04?tab=repositories">
    <FaGithub className="text-8xl dark:text-white" />
  </a>
  <h1 class="py-4 dark:text-white">Others Check My Repository</h1>
</div>
