---
import Navbar from "../components/Navbar";

const { title, isCenter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fenny Oktaviani | {title}</title>
  </head>
  <body class="overflow-hidden">
    <Navbar client:load />

    <main
      class={`flex ${
        isCenter
          ? "flex-col items-center justify-center"
          : "flex-row justify-start items-start"
      } bg-gray-300 dark:bg-gray-600 h-screen w-full flex`}
    >
      <slot />
    </main>
  </body>
</html>
